// fonts
$heading-font-family: 'Montserrat', sans-serif;
$cage-font-family: 'Shadows Into Light', cursive;
$base-font: 'Chivo', sans-serif;

//palette //http://paletton.com/#uid=50u0u0kuaujitB4nxvmvinEANiB

// colours

$gold-background: #FFCE6C;
$orange-background: #FFAF6C;
$nearly-black: #101010;
$white: #f5f5f5;

$title-colour: #ef0e14;
$nearly-burgundy: #930004;
$green-accent: #037171;




